html, 
body {
    height: 100%;
    background-color: #DBDBDB;
    margin: 0;
}

/* Header & Footer estáticos*/
.fixed-header, .fixed-footer{
    width: 100%;
    /*position: fixed;*/    
    background: #4C4C4C;
    padding: 1px 0;
    color: #ffff;
    z-index: 10;
}
.fixed-header{
    top: 0;
    left: 0;
    text-align: center;
    margin-bottom: 10px;
}
.fixed-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}
.bodyLogin .fixed-footer{
    position: fixed;
}

.fixed-header a{
    text-decoration: none;
    color: #ffff;
}
.fixed-header h1{
    clear: both;
}

/* Logout Button */
.logoutButton{
    background-color: #85C7F2;
    color: #636363;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 15px;
}
.logoutButton:hover{
    transform: scale(1.1);
    color: black;
}

/* Login Page */
/* .bodyLogin{
    overflow-y:hidden;
} */
.bodyLogin .divLogin {
    background-color: #636363;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    width: 16%;
    margin: 50px auto;
}
.bodyLogin .divLogin h2{
    text-align: center;
    color: #000000;
}
.bodyLogin form {
    text-align: left;
}

.bodyLogin label {
    color: #D1D1D1;
    font-size: 18px;
    display: block; /* el label es un bloque */
    width: 100%; /* el ancho del label es igual al ancho del input */
}

.bodyLogin #loginInputEmail, #loginInputPass {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block; /* el input es un bloque */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bodyLogin #submit {
    width: 100%;
    background-color: #85C7F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bodyLogin a {
    color: #D1D1D1;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.bodyLogin p{
    text-align: center;
    color: red;
    font-weight: bold;
}

/*Landing Page*/
.bodyIndex{
    overflow-y: hidden;
}

.contenedorPrincipal{
    overflow-x: hidden;
}

.contenedorLanding{
    margin-top: 3%;
    height: 100%;
}

.headerContenedor{
    width: 100%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 95%;
    
}

.bienvenidoLanding{
    width: 80%;
    height: 50%;
    margin: auto;
    background-color: #2196f3;
    margin-top: 3%;
    margin-bottom: 25%;
    border: 3px solid black;
    box-shadow: 5px 5px 3px black;

}

.bienvenidoLanding h2{
    margin-top: 10%;
}

.bienvenidoLanding a{
    text-decoration: none;
}

.botonLanding{
    display: block;
    width: 30%;
    height: auto;
    border-radius: 5%;
    background-color: #85C7F2;
    border: 3px solid black;
    margin: auto;
    font-size: 20px;
}
.botonLanding:hover{
    transform: scale(1.02);
    background-color: #3f51b5;
    color: white;
}


/*Body sin scroll*/
/* .bodyDashboard{
    overflow-y:hidden;
} */

/*Dashboard*/
.contenedorPrincipal{
    width: 80%;
    margin: 0 auto;
    height: 80%;
    text-align: center;
    overflow-y:hidden;
}
.contenedorBotonesDashboard{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 62%;
}

.botonDashboard{  
    text-decoration: none;
    width: 30%;
    margin-top: 2%;
    color: #636363;
    background-color: #85C7F2;
    transition: transform .2s;
}
.botonDashboard:hover{
    transform: scale(1.1);
    color: black;
    box-shadow: 5px 5px 3px black;
}

.imgBotonDashboard{
    width: 80%;
    height: 80%;
}
.imgBotonDashboardPerfil{
    width: 70%;
    height:80%;
}


/*Administración Encuestas*/
.contenedorPrincipalPoll{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    text-align: center;
    overflow-y:hidden;
}

.contenedorBotonesPoll{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55%;
}

.botonPoll{  
    width: 22.5%;
    margin-top: 2%;
    color: #636363;
    background-color: #85C7F2;
    transition: transform .2s;
}
.botonPoll:hover{
    transform: scale(1.1);
    color: black;
    box-shadow: 5px 5px 3px black;
}

.imgBotonPoll{
    width: 80%;
    height: 80%;
}
.contenedorAccionBotones{
    width: 80%;
    margin: auto;
    line-height : 150%;
}

/* Contenedor Lista Encuestas*/
#contenedorListaEncuestas{
    display: block;
    box-shadow: 5px 5px 3px black;
}

#contenedorListaEncuestas table{
    background-color: #636363;
    color: whitesmoke;
    width: 100%;
    border-spacing: 10px;
}

#contenedorListaEncuestas table tr:nth-child(odd){
    background-color: rgba(255,255,255,0.3);
}

#contenedorListaEncuestas table th{
    background-color: #4C4C4C;
}

#contenedorListaEncuestas table{
    text-align: left;
}

/* Contenedor Lista Preguntas*/
#contenedorListaPreguntas{
    display: none;
    box-shadow: 5px 5px 3px black;
}

#contenedorListaPreguntas table{
    background-color: #636363;
    color: whitesmoke;
    width: 100%;
    border-spacing: 10px;
}

#contenedorListaPreguntas table tr:nth-child(odd){
    background-color: rgba(255,255,255,0.3);
}

#contenedorListaPreguntas table th{
    background-color: #4C4C4C;
}

#contenedorListaPreguntas table{
    text-align: left;
}

/* Contenedor Crear Encuesta*/
#contenedorCrearEncuesta {
    display: none;
    background-color: #2196f3;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10%;
    box-shadow: 5px 5px 3px black;
}

#idFormEncuesta div{
    width: 90%;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 1%;
}

#inpNombreEncuesta{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 68%;
    height: 30px;
    font-size: 17px;
    text-align: center;
}
#inpNombreEncuesta:focus{
    transform: scale(1.03);
    outline: none;
    background-color: white;
}

/* Contenedor Fechas - Encuestas */

#contenedorEleccionFechas {
    display: flex;
    justify-content: space-around;
}

#contenedorEleccionFechas input{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}
#contenedorEleccionFechas input:focus{
    transform: scale(1.03);
    outline: none;
    background-color: white;
}

#contenedorEleccionFechas #contenedorEleccionFechasInicio {
    min-width: 45%;
}

#contenedorEleccionFechas #contenedorEleccionFechasFinal {
    min-width: 45%;
}

/* Contenedor Profesores - Encuestas */

#contenedorProfesores {
    background-color: #2196f3;
}

#contenedorProfesores p{
    font-weight: bold;
}

#contenedorEleccionProfesores {
    display: flex;
    justify-content: space-around;
}

#contenedorEleccionProfesores button {
    background-color: lightgray;
    font-size: 15px;
    min-width: 100%;
    border: 0;
    margin-bottom: 5px;
}

#contenedorProfesores #contenedorProfesoresDisponibles {
    margin-top: -50px;
    width: 40%;
}

#contenedorProfesores #contenedorBotonesProfesores {
    margin-top: 20px;
    width: 20%;
}

#contenedorProfesores #contenedorProfesoresSeleccionados {
    margin-top: -50px;
    width: 40%;
}

/* Contenedor Preguntas - Encuestas */

#contenedorPreguntas {
    background-color: #2196f3;
}

#contenedorPreguntas p{
    font-weight: bold;
}

#contenedorEleccionPreguntas {
    display: flex;
    justify-content: space-around;
}

#contenedorEleccionPreguntas button {
    background-color: lightgray;
    font-size: 15px;
    min-width: 100%;
    border: 0;
    margin-bottom: 5px;
}

#contenedorPreguntas #contenedorPreguntasDisponibles {
    margin-top: -50px;
    width: 40%;
}

#contenedorPreguntas #contenedorBotonesPreguntas {
    margin-top: 20px;
    width: 20%;
}

#contenedorPreguntas #contenedorPreguntasSeleccionadas {
    margin-top: -50px;
    width: 40%;
}

/* Contenedor Alumnos - Encuestas */

#contenedorAlumnos {
    background-color: #2196f3;
}

#contenedorAlumnos p{
    font-weight: bold;
}

#contenedorEleccionAlumnos {
    display: flex;
    justify-content: space-around;
}

#contenedorEleccionAlumnos button {
    background-color: lightgray;
    font-size: 15px;
    min-width: 100%;
    border: 0;
    margin-bottom: 5px;
}

#contenedorAlumnos #contenedorAlumnosDisponibles {
    margin-top: -50px;
    width: 40%;
}

#contenedorAlumnos #contenedorBotonesAlumnos {
    margin-top: 20px;
    width: 20%;
}

#contenedorAlumnos #contenedorAlumnosSeleccionados {
    margin-top: -50px;
    width: 40%;
}

/* Botones Guardar y Borrar - Encuesta */

#guardarEncuesta{
    background-color: lightgray;
    color: black;
    padding: 14px 10px;
    margin-left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
}
#guardarEncuesta:hover{
    transform: scale(1.1);
    background-color: rgb(0, 163, 3);
}

#borrarEncuesta{
    background-color: lightgray;
    color: black;
    padding: 14px 10px;
    margin-left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
}
#borrarEncuesta:hover{
    transform: scale(1.1);
    color: white;
    background-color: #636363;
}

/* Contenedor Crear Pregunta */

#contenedorCrearPregunta {
    display: none;
    background-color: #2196f3;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10%;
    box-shadow: 5px 5px 3px black;
}

#contenedorFormulario {
    background-color: #85C7F2;
    border-radius: 20px;
    padding: 25px;

}

#idFormPregunta{
    width: 100%;
}

#idFormPregunta label{
    font-size: 20px;
}
#tipoPregunta{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    font-size: 15px;
}
#tipoPregunta:focus{
    transform: scale(1.03);
    outline: none;
    background-color: white;
}

#inpNombrePreguntaLabel{
    margin-left: 5%;
}
#inpNombrePregunta{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    font-size: 17px;
}
#inpNombrePregunta:focus{
    transform: scale(1.03);
    outline: none;
    background-color: white;
}


#borrarPregunta{
    width: 10%;
    background-color: lightgray;
    color: black;
    padding: 14px 0px;
    margin-left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
}
#borrarPregunta:hover{
    transform: scale(1.1);
    color: white;
    background-color: #636363;
}

#idAñadirInput{
    width: 10%;
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    margin-left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
}
#idAñadirInput:hover{
    transform: scale(1.1);
    background-color: rgb(227, 227, 0);
}

#guardarPregunta{
    width: 10%;
    background-color: lightgray;
    color: black;
    padding: 14px 0px;
    margin-left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 5%;
}
#guardarPregunta:hover{
    transform: scale(1.1);
    background-color: rgb(0, 163, 3);
}

/* Contenedor Dinámico */
#contenedorDinamico{
    margin-top: 3%;
}

#contenedorDinamico #parrafoDinamico{
    font-weight: bold;
}

#contenedorDinamico input[type="text"]{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-size: 17px;
    margin-left: 1%;
    margin-bottom: 1%;
}

#contenedorDinamico input[type="text"]:focus{
    transform: scale(1.03);
    outline: none;
    background-color: white;
}

#contenedorDinamico .botonEliminarInput{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    width: 8%;
    height: 30px;
    font-size: 17px;
    margin-left: 1%;
}
#contenedorDinamico .botonEliminarInput:hover{
    transform: scale(1.1);
    background-color: rgb(227, 0, 0);
    color: white;
}

#botonEliminarInput1{
    visibility: hidden;
}
#botonEliminarInput2{
    visibility: hidden;
}

/* Contenedor Aviso Eliminación */
#contenedorAvisoEliminar{
    width: 50%;
    background-color: rgba(255, 165, 0,0.975);
    border: 10px solid black;
    border-radius: 10px;
    z-index: 10;
    height: 200px;
    margin: auto;
    position: relative;
    top: -270px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 10px 10px 6px black;
}

#contenedorAvisoEliminar p{
    margin-top: 8%;
}

#btnAvisoEliminarSi{
    width: 15%;
    height: 20%;
    margin: 2%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}
#btnAvisoEliminarSi:hover{
    transform: scale(1.2);
    background-color: rgb(227, 0, 0);
    color: white;
}

#btnAvisoEliminarNo{
    width: 15%;
    height: 20%;
    margin: 2%;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}
#btnAvisoEliminarNo:hover{
    transform: scale(1.2);
    color: white;
    background-color: #636363;
}


/* Columnas Table*/
.columnaID{
    width: 5%;
    text-align: right;
}
.columnaNombre{
    width: 55%;
}
.columnaFechaInicio{
    width: 15%;
    text-align: right;
}
.columnaFechaFinal{
    width: 15%;
    text-align: right;
}
.columnaTipo{
    width: 20%;
}
.columnasFuncionalidades{
    text-align: center;
}
#thFuncionalidades {
    text-align: center;
}


/* Message Css */
#messagesCSS {
    width: 100%;
    
}
  
.success-styling {
    background-color: rgba(0, 141, 0, 0.8);
    color: black;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 80%;
    font-weight: bold;
}

.error-styling {
    background-color: rgba(255, 0, 0,0.8);
    color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 80%;
    font-weight: bold;
}

.info-styling {
    background-color: rgba(0, 54, 201, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 80%;
    font-weight: bold;
    
}

.warning-styling {
    background-color: orange;
    color: black;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 80%;
    font-weight: bold;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}
