html, 
body {
    height: 98%;
    padding-top: 3%;
    background-color: #DBDBDB;
}

/* Header & Footer estáticos*/
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #4C4C4C;
    padding: 10px 0;
    color: #ffff;
    z-index: 10;
}
.fixed-header{
    top: 0;
    left: 0;
    text-align: center;
}
.fixed-footer{
    bottom: 0;
    left: 0;
    text-align: center;
}

.fixed-header button{
    float: left;
    clear: both;
}
.fixed-header a{
    text-decoration: none;
    color: #ffff;
}
.fixed-header h1{
    clear: both;
}

/* Logout Button */
.logoutButton{
    width: 5%;
    background-color: #85C7F2;
    color: #636363;
    padding: 14px 20px;
    margin-left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.logoutButton:hover{
    transform: scale(1.1);
    color: black;
}

/* Login Page */
.bodyLogin{
    overflow-y:hidden;
}
.bodyLogin .divLogin {
    background-color: #636363;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
    width: 16%;
    margin: 50px auto;
}
.bodyLogin .divLogin h2{
    text-align: center;
    color: #000000;
}
.bodyLogin form {
    text-align: left;
}

.bodyLogin label {
    color: #D1D1D1;
    font-size: 18px;
    display: block; /* el label es un bloque */
    width: 100%; /* el ancho del label es igual al ancho del input */
}

.bodyLogin #loginInputEmail, #loginInputPass {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block; /* el input es un bloque */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bodyLogin #submit {
    width: 100%;
    background-color: #85C7F2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bodyLogin a {
    color: #D1D1D1;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.bodyLogin p{
    text-align: center;
    color: red;
    font-weight: bold;
}

/*Landing Page*/
.bodyIndex{
    overflow-y: hidden;
}
.botonLanding{
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #85C7F2;
    border: 0px;
    margin: auto;
    transition: width 2s, height 2s, transform .2s;
    font-size: 20px;
}
.botonLanding:hover{
    width: 500px;
    height: 500px;
    background: linear-gradient(0deg, #3f51b5, transparent) #2196f3;
    animation: background-animation;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    
}

@keyframes background-animation{
    0%  {background: linear-gradient(18deg, #3f51b5, transparent) #2196f3;}
    5%   {background: linear-gradient(36deg, #3f51b5, transparent) #2196f3;}
    10%  {background: linear-gradient(54deg, #3f51b5, transparent) #2196f3;}
    15%  {background: linear-gradient(72deg, #3f51b5, transparent) #2196f3;}
    20%   {background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;}
    25%  {background: linear-gradient(108deg, #3f51b5, transparent) #2196f3;}
    30%  {background: linear-gradient(126deg, #3f51b5, transparent) #2196f3;}
    35% {background: linear-gradient(144deg, #3f51b5, transparent) #2196f3;}
    40%   {background: linear-gradient(162deg, #3f51b5, transparent) #2196f3;}
    45%  {background: linear-gradient(180deg, #3f51b5, transparent) #2196f3;}
    50%  {background: linear-gradient(198deg, #3f51b5, transparent) #2196f3;}
    55% {background: linear-gradient(216deg, #3f51b5, transparent) #2196f3;}
    60%   {background: linear-gradient(234deg, #3f51b5, transparent) #2196f3;}
    65%  {background: linear-gradient(252deg, #3f51b5, transparent) #2196f3;}
    70%  {background: linear-gradient(270deg, #3f51b5, transparent) #2196f3;}
    75% {background: linear-gradient(288deg, #3f51b5, transparent) #2196f3;}
    80%   {background: linear-gradient(306deg, #3f51b5, transparent) #2196f3;}
    85%  {background: linear-gradient(324deg, #3f51b5, transparent) #2196f3;}
    90%  {background: linear-gradient(342deg, #3f51b5, transparent) #2196f3;}
    95% {background: linear-gradient(360deg, #3f51b5, transparent) #2196f3;}
    100% {background: linear-gradient(0deg, #3f51b5, transparent) #2196f3;}
    
}

/*Body sin scroll*/
.bodyDashboard{
    overflow-y:hidden;
}

/*Dashboard*/
.contenedorPrincipal{
    width: 80%;
    margin: 0 auto;
    height: 80%;
    text-align: center;
    overflow-y:hidden;
}
.contenedorBotonesDashboard{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 62%;
}

.botonDashboard{  
    width: 30%;
    margin-top: 2%;
    color: #636363;
    background-color: #85C7F2;
    transition: transform .2s;
}
.botonDashboard:hover{
    transform: scale(1.1);
    color: black;
}

.imgBotonDashboard{
    width: 80%;
    height: 80%;
}
.imgBotonDashboardPerfil{
    width: 70%;
    height:80%;
}


/*Administración Encuestas*/
.contenedorPrincipalPoll{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    text-align: center;
    overflow-y:hidden;
}

.contenedorBotonesPoll{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55%;
}

.botonPoll{  
    width: 22.5%;
    margin-top: 2%;
    color: #636363;
    background-color: #85C7F2;
    transition: transform .2s;
}
.botonPoll:hover{
    transform: scale(1.1);
    color: black;
}

.imgBotonPoll{
    width: 80%;
    height: 80%;
}
.contenedorAccionBotones{
    width: 80%;
    margin: auto;
    line-height : 150%;
}

/* Contenedor Lista Encuestas*/
#contenedorListaEncuestas{
    display: block;
}

#contenedorListaEncuestas table{
    background-color: #636363;
    color: whitesmoke;
    width: 100%;
}

#contenedorListaEncuestas table th{
    background-color: #4C4C4C;
}

#contenedorListaEncuestas table{
    text-align: left;
}

/* Contenedor Lista Preguntas*/
#contenedorListaPreguntas{
    display: none;
}

#contenedorListaPreguntas table{
    background-color: #636363;
    color: whitesmoke;
    width: 100%;
}

#contenedorListaPreguntas table th{
    background-color: #4C4C4C;
}

#contenedorListaPreguntas table{
    text-align: left;
}

/* Contenedor Crear Encuesta*/
#contenedorCrearEncuesta{
    display: none;
}

/* Contenedor Crear Pregunta */
#contenedorCrearPregunta{
    display: none;
}

#contenedorCrearPregunta table{
    background-color: yellow;
    color: whitesmoke;
    width: 100%;
}

#contenedorCrearPregunta table th{
    background-color: #4C4C4C;
}

#contenedorCrearPregunta table{
    text-align: left;
}

/* Columnas Table*/
.columnaID{
    width: 10%;
}
.columnaNombre{
    width: 60%;
}
.columnaFechaInicio{
    width: 10%;
    text-align: right;
}
.columnaFechaFinal{
    width: 10%;
    text-align: right;
}
.columnaTipo{
    width: 20%;
}


/* Message Css */
#messagesCSS {
    width: 100%;

}

  
.success-styling {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.error-styling {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}